:host {
    .content button {
        margin-left: 10px;
        width: 80px;
    }
}
.content {
    width: 700px;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
}

.content a {
    margin-left: 10px;
    width: 80px;
}
